.btn-close{
    display: block;
    width: 3.82rem;
    height: 3.82rem;
    line-height: 3.12rem; /* 50px */
    text-align: center;
    border: none;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.41rem; 
    cursor: pointer;
    margin-left: 1.25rem;
 
    @media(max-width: 60rem){ /* 950px */
        width: 2.5rem; /* 40px */
        height: 2.5rem; /* 40px */
        line-height: 2.5rem; /* 40px */
    }
}

.btn-icon {
    width: 50%;
    height: auto;
    fill: #fff;
}