@import '../../Styles/Global.scss';

.select-cont {
    background: $grisClaro;
    cursor: pointer;
    border-radius: 0.625rem; /* 10px */
    position: relative;
    height: 5rem; /* 80px */
    width: 40%;
    padding: 0px 1.25rem; /* 20px */
    font-size: 1.5rem; /* 24px */
    text-align: center;
    display: flex;
    align-items: center;
    transition: .5s ease all;

    &:hover {
        background: $grisClaro2;
    }

    &__option-selected {
        width: 100%;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg {
            width: 1.25rem; /* 20px */
            height: auto;
            margin-left: 1.25rem; /* 20px */
        }
    }

    &__options {
        background: $grisClaro2;
        position: absolute;
        top: 5.62rem; /* 90px */
        left: 0;
        width: 100%;
        border-radius: 0.625rem; /* 10px */
        max-height: 18.75rem; /* 300px */
        overflow-y: auto;
    }

    &__options::-webkit-scrollbar {
        width: 7px;
    }

    &__options::-webkit-scrollbar-thumb {
        background: #DFE9EC ;
        border-radius: 4px;
    }

    &__option {
        padding: 1.25rem; /* 20px */
        display: flex;
        svg {
            width: 28px;
            height: auto;
            margin-right: 1.25rem; /* 20px */
        }
        &:hover {
            background: $grisClaro;
        }
    }
}