// THEME DESING
$fondo: #F9F9F9;
$colorPrimario: #5B69E2;
$colorSecundario: #000;
$verde: #43A854;
$rojo: #E34747;
$grisClaro: #E8EFF1;
$grisClaro2: #CBDDE2;
$azulClaro: #8792F1;

// BUTTONS
.button-primary {
    margin-left: 1.25rem; /* 20px */
    border: none;
    border-radius: 0.625rem; /* 10px */
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    height: 3.75rem; /* 60px */
    padding: 1.25rem 1.87rem; /* 20px 30px */
    font-size: 1.25rem; /* 20px */
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    background-color: #5B69E2;
    }
    
.button-secondary {
    margin-left: 1.25rem; /* 20px */
    border: none;
    border-radius: 0.625rem; /* 10px */
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    height: 3.75rem; /* 60px */
    padding: 1.25rem 1.87rem; /* 20px 30px */
    font-size: 1.25rem; /* 20px */
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    background-color: #000;
}

// FORMS
.form {
    padding: 0 2.5rem; /* 40px */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__svg {
        width: 100%;
        max-height: 6.25rem;
        margin-bottom: 1.25rem;
    }

    &__input {
        width: 100%;
        text-align: center;
        font-size: 2.5rem; /* 40px */
        text-transform: uppercase;
        border: none;
        border-bottom: 2px solid $grisClaro;
        outline: none;
        padding: 2.5rem 0;
        font-family: 'Work Sans', sans-serif;
        &::placeholder {
            color: rgba(0,0,0,.2);
        }
     
        @media(max-width: 60rem){ /* 950px */
            font-size: 2.2rem; /* 24px */
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        margin: 2.5rem 0;  /* 40px */

    }
}

.plusIcon {
    fill: #fff;
    margin-left: 25px;
    width: 10%;
    height: auto;
}