@import './../../Styles/Global.scss';

.DayPickerInput {
    input {
        font-family: 'Work Sans', sans-serif;       
        box-sizing: border-box;
        background: $grisClaro;
        border: none;
        cursor: pointer;
        border-radius: 0.625rem; /* 10px */
        height: 5rem; /* 80px */
        width: 100%;
        padding: 0 1.25rem; /* 20px */
        font-size: 1.5rem; /* 24px */
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 60rem){ /* 950px */
    & > * {
        width: 100%;
    }
}