.header {
    width: 100%;
    padding: 2.5rem; /* 40px */
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    @media(max-width: 60rem){ /* 950px */
        justify-content: start;
    }

    &__title {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 2.5rem; /* 40px */
        
     
        @media(max-width: 60rem){ /* 950px */
            font-size: 2rem; /* 32px */
        }
    }

    &__buttons {
        width: 60%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}